
@{
    ViewBag.Title = "Index";
}

<h2>Hello To index Page of First Controller</h2>
<h2>@Html.ActionLink("Action1 content", "Action1")</h2>
<h2>@Html.ActionLink("Action2 content html", "Action2")</h2>
<h2>@Html.ActionLink("Action3 json", "Action3")</h2>
<h2>@Html.ActionLink("Action4 string", "Action4")</h2>
<h2>@Html.ActionLink("Action5 empty", "Action5")</h2>
<h2 >@Html.ActionLink("Action6 to action 1", "Action6")</h2>
<h2 >@Html.ActionLink("Action7", "Action7")</h2>
<h2 >@Html.ActionLink("Action8 to action 5", "Action8")</h2>
<h2 >@Html.ActionLink("Action9 void", "Action9")</h2>

