
@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Action01", "Action01")</h2>
<h2>@Html.ActionLink("Action02", "Action02")</h2>
<h2>@Html.ActionLink("Action03", "Action03")</h2>
<h2>@Html.ActionLink("Action04", "Action04")</h2>
<h2>@Html.ActionLink("Action05", "Action05")</h2>
<h2>@Html.ActionLink("Action06", "Action06")</h2>
<h2>@Html.ActionLink("Action07", "Action07")</h2>
<h2>@Html.ActionLink("Action08", "Action08")</h2>
<h2>@Html.ActionLink("Action09", "Action09")</h2>
<h2>@Html.ActionLink("Action10", "Action10")</h2>
<h2>@Html.ActionLink("Action11", "Action11")</h2>
<h2>@Html.ActionLink("Action12", "Action12")</h2>
<h2>@Html.ActionLink("Action13", "Action13")</h2>
<h2>@Html.ActionLink("Action14", "Action14")</h2>
<h2>@Html.ActionLink("Action15", "Action15")</h2>
<h2>@Html.ActionLink("Action16", "Action16")</h2>
<h2>@Html.ActionLink("Action17", "Action17")</h2>
<h2>@Html.ActionLink("Action18", "Action18")</h2>
