@model Ajaxification.Models.ViewModel01
@{
     Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "resultats",
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        Url = Url.Action("Action01Post"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action01Get</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/myscript.js"></script>
</head>
<body>
    <h2>Ajax - 01</h2>
    <p><strong>Heure de chargement : @Model.HeureChargement</strong></p>
    <h4>Opérations arithmétiques sur deux nombres réels A et B positifs ou nuls</h4>
    @using (Ajax.BeginForm("Action01Post", null, ajaxOpts, new { id = "formulaire" }))
    {
        <table>
            <thead>
                <tr>
                    <th>@Html.LabelFor(m => m.A)</th>
                    <th>@Html.LabelFor(m => m.B)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.TextBoxFor(m => m.A)</td>
                    <td>@Html.TextBoxFor(m => m.B)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(m => m.A)</td>
                    <td>@Html.ValidationMessageFor(m => m.B)</td>
                </tr>
            </tbody>
        </table>
        <p>
            <input type="submit" value="Calculer" />
            <img id="loading" style="display: none" src="~/Content/images/indicator.gif" />
            <button onclick="postForm()">Calculer avec un button sans form</button>
        </p>
    }
    <hr />
    <div id="resultats" />

</body>

</html>
