@model Ajaxification.Models.ViewModel01
@{
    Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        HttpMethod = "post",
        Url = Url.Action("Action02Post"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action01Get</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/myscript2.js"></script>
</head>
<body>
    <h2>Ajax - 01</h2>
    <p><strong>Heure de chargement : @Model.HeureChargement</strong></p>
    <h4>Opérations arithmétiques sur deux nombres réels A et B positifs ou nuls</h4>
    @using (Ajax.BeginForm("Action02Post", null, ajaxOpts, new { id = "formulaire" }))
    {
        <table>
            <thead>
                <tr>
                    <th>@Html.LabelFor(m => m.A)</th>
                    <th>@Html.LabelFor(m => m.B)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.TextBoxFor(m => m.A)</td>
                    <td>@Html.TextBoxFor(m => m.B)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(m => m.A)</td>
                    <td>@Html.ValidationMessageFor(m => m.B)</td>
                </tr>
            </tbody>
        </table>
        <p>
            <input type="submit" value="Calculer" />
            <img id="loading" style="display: none" src="~/Content/images/indicator.gif" />
            <button onclick="postForm()">Calculer avec un button sans form</button>
        </p>
    }
    <hr />
    <div id="entete">
        <h4>Résultats</h4>
        <p><strong>Heure de calcul : <span id="heureCalcul" /></strong></p>
    </div>
    <div id="résultats">
        <p>A+B=<span id="AplusB" /></p>
        <p>A-B=<span id="AmoinsB" /></p>
        <p>A*B=<span id="AmultipliéparB" /></p>
        <p>A/B=<span id="AdiviséparB" /></p>
    </div>
    <div id="erreur">
        <p style="color: red;">Une erreur s'est produite : <span id="msg" /></p>
    </div>

</body>

</html>
