@model Ajaxification.Models.ViewModel05
@using (Html.BeginForm("Action05Post", "Premier", FormMethod.Post, new
{
    id = "formulaire"
}))
{
    <table>
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.A)</th>
                <th>@Html.LabelFor(m => m.B)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBoxFor(m => m.A)</td>
                <td>@Html.TextBoxFor(m => m.B)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.A)</td>
                <td>@Html.ValidationMessageFor(m => m.B)</td>
            </tr>
        </tbody>
    </table>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript:calculer()">Calculer</a>
                    </td>
                    <td style="width: 20px" />
                    <td>
                        <a href="javascript:effacer()">Effacer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
}