@model  Vue_ET_Son_Model.Models.ViewModel01
@{
    ViewBag.Title = "Action02";
}

<h3>Informations du modèle de vue</h3>
<ul>
    <li>Email : @Model.Email</li>
    <li>Jour : @Model.Jour</li>
    <li>Info1 : @Model.Info1</li>

    <li>Info2 : @Model.Info2</li>
    <li>Info3 : @Model.Info3</li>
    <li>Erreurs : @Model.Erreurs</li>
 </ul>
