@model Vue_ET_Son_Model.Models.ViewModel11
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action11Get</title>
</head>
<body>
    <h3>Formulaire ASP.NET MVC – Validation 1</h3>
    @using (Html.BeginForm("Action11Post", "First"))
    {
        <table>
            <thead>
                <tr>
                    <th>Type attendu</th>
                    <th>Valeur saisie</th>
                    <th>Message d'erreur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.Chaine1)</td>
                    <td>@Html.EditorFor(m => m.Chaine1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Chaine1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Chaine2)</td>
                    <td>@Html.EditorFor(m => m.Chaine2)</td>
                    <td>@Html.ValidationMessageFor(m => m.Chaine2)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Chaine3)</td>
                    <td>@Html.EditorFor(m => m.Chaine3)</td>
                    <td>@Html.ValidationMessageFor(m => m.Chaine3)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Entier1)</td>
                    <td>@Html.EditorFor(m => m.Entier1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Entier1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Entier2)</td>
                    <td>@Html.EditorFor(m => m.Entier2)</td>
                    <td>@Html.ValidationMessageFor(m => m.Entier2)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Reel1)</td>
                    <td>@Html.EditorFor(m => m.Reel1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Reel1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Reel2)</td>
                    <td>@Html.EditorFor(m => m.Reel2)</td>
                    <td>@Html.ValidationMessageFor(m => m.Reel2)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Email1)</td>
                    <td>@Html.EditorFor(m => m.Email1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Email1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Regexp1)</td>
                    <td>@Html.EditorFor(m => m.Regexp1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Regexp1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Date1)</td>
                    <td>@Html.EditorFor(m => m.Date1)</td>
                    <td>@Html.ValidationMessageFor(m => m.Date1)</td>
                </tr>
            </tbody>
        </table>
        <p>
            <input type="submit" value="Valider" />
        </p>
    }
    
</body>
</html>
