
@{
    ViewBag.Title = "Index";
    string vue = " Index";
}

<h2>Nom de vue :@vue</h2>
<h2>@Html.ActionLink("Action01", "Action01")</h2>
<h2>@Html.ActionLink("Action02", "Action02")</h2>
<h2>@Html.ActionLink("Action03", "Action03")</h2>
<h2>@Html.ActionLink("Action04", "Action04")</h2>
<h2>@Html.ActionLink("Action05", "Action05")</h2>
<h2>@Html.ActionLink("Action06", "Action06")</h2>
<h2>@Html.ActionLink("Action10", "Action10Get")</h2>
<h2>@Html.ActionLink("Action11", "Action11Get")</h2>
<h2>@Html.ActionLink("Action12", "Action12Get")</h2>
<h2>@Html.ActionLink("Action13", "Action13Get")</h2>
<h2>@Html.ActionLink("Action16", "Action16Get")</h2>
<h2>@Html.ActionLink("Action17", "Action17Get")</h2>

